<div class="wrapper">

<div class="page-contestants-list">
   <div class="bg">

      <!--<div class="voting-title">-->
         <!--<p class="top-title">排行榜规则</p>-->
         <!--<div class="info-title">-->
            <!--<p>一、活动主题:蒙牛世界杯投票</p>-->
            <!--<p>二、参与人群:蒙牛世界杯代言人</p>-->
            <!--<p>三、活动内容:</p>-->

         <!--</div>-->
      <!--</div>-->
      <div class="btn-back-home" id="btn-back-home">
         <img src="assets/images/img/btn-voting-back.png" alt="">
      </div>

      <div class="voting-list-cont">

         <!--<div class="row-people row first">-->
               <!--<div class="col-md-12 col-xs-12 info-second">-->
               <!--<div class="people-img">-->
               <!--<img src="/uploads/201711281011085a1cc67058eb3.jpg" >-->
               <!--</div>-->
               <!--<div class="name-num">-->
                <!--<div class="row-id">1<div class="num-logo"><img src="assets/images/img/logo-num1.png" ></div></div>-->
               <!--<div class="name">111 </div>-->
               <!--<div class="people-count vote-num">111</div>-->
               <!--</div>-->
               <!--</div>-->

         <!--</div>-->

         <div class="second-row clearfix">
            <!--<div class="row-people row pull-left">-->
               <!--<div class="col-md-2 col-xs-2 people-id">-->
                  <!--<span class="row-id"></span>-->
               <!--</div>-->
               <!--<div class="col-md-10 col-xs-10 info-second">-->
                  <!--<div class="people-img">-->
                     <!--<img src="" >-->
                  <!--</div>-->
                  <!--<div class="name-num">-->
                     <!--<div class="name"> </div>-->
                     <!--<div class="people-count vote-num"></div>-->
                  <!--</div>-->
               <!--</div>-->

            <!--</div>-->
            <!--<div class="row-people row pull-right">-->
               <!--<div class="col-md-2 col-xs-2 people-id">-->
                  <!--<span class="row-id"></span>-->
               <!--</div>-->
               <!--<div class="col-md-10 col-xs-10 info-second">-->
                  <!--<div class="people-img">-->
                     <!--<img src="" >-->
                  <!--</div>-->
                  <!--<div class="name-num">-->
                     <!--<div class="name"></div>-->
                     <!--<div class="people-count vote-num"></div>-->
                  <!--</div>-->
               <!--</div>-->

            <!--</div>-->
         </div>

      </div>



      <div class="word">
         <ul>
           <li>为维护评选活动的公正性，兴业银行特此公告：</li>
           <li> 1、本次评选活动严禁利用第三方软件及程序进行恶意刷票，兴业银行将对活动所有投票数据进行实时监控；</li>
           <li>2、对于涉嫌刷票行为的参评选手，兴业银行会直接取消参评资格。</li>
           <li> 3、因个人原因放弃名额或无法参与活动的，兴业银行有权将名额顺延给下一位符合活动条件的参与者。</li>
            <li>在法律允许的范围内，兴业银行信用卡中心保留对本活动条款的解释权，并有权根据情况取消本活动或增删、修订本规则。并于网站、官方微信等媒体公告后生效。</li>
        </ul> 
      </div>

      <div class="bg2">
         <img src="assets/images/img/bg2.png" alt="">
      </div>





   </div>
</div>



<!--</div>