<!--<div class="wrapper">-->

    <div class="page-home-bg">
        <div style="padding-top: 12%;">
            <img src="assets/images/img/soogif1b-750.gif">
        </div>
        <div class="main-part">
            <img src="assets/images/img/main.gif">
        </div>
        <div class="home-two-btn clearfix" style="">
            <img src="assets/images/img/soogif1a-750.gif">
            <div class="btn-start-vote" id="btn-start-vote">
            </div>
            <div class="btn-voting-list2" id="btn-voting-list2">
            </div>

        </div>


    </div>





<!--</div>-->