<!--<div class="wrapper">-->

    <div class="page-share-bg">

        <div class="share-two-btn clearfix" style="width: 100%">
            <div class="btn-share-back pull-left" id="btn-share-back">
                <img class="btn-music open" src="assets/images/img/btn-back.png" alt="back">
            </div>
            <div class="btn-share pull-right" id="btn-share">

                <img class="btn-music open" src="assets/images/img/soogif2a-750.gif" alt="" style="position:  absolute; width: 70px;top: -20px;">
            </div>

        </div>

        <div class="cont-img">
            <!--<img class="" src="assets/images/img/share-cont.gif" >-->
            <img src="assets/images/img/soogif1b-750.gif" alt="">
        </div>

        <div class="btn-see-contestants" id="btn-see-contestants">
            <!--<img class="btn-music open" src="assets/images/img/btn-rank.png" alt="rank">-->
        </div>

        <div class="bottom-img-part">
            <img src="assets/images/img/share-bottom.png">
        </div>
    </div>

<!--
</div>-->
