
<div class="page-main-vote">
<div class="page-voting">
   <div class="bg">

      <div class="voting-btn clearfix">
         <div class="btn-voting-back pull-left" id="btn-voting-back">
            <img src="assets/images/img/btn-voting-back.png" alt="">
         </div>
         <div class="btn-voting-list pull-right" id="btn-voting-list">
            <img src="assets/images/img/btn-voting-list.png" alt="">
         </div>
      </div>

      <div class="voting-cont">

         <div class="row-people clearfix">

         </div>

      </div>




   </div>
</div>

</div>