<!--<div class="wrapper">-->

<div class="page-voting-list">
   <div class="bg">

      <div class="btn-back" id="btn-back">
         <img src="assets/images/img/btn-voting-back.png">
      </div>

      <div class="btn-voting" id="btn-voting">
         <img src="assets/images/img/btn-voting.png">
      </div>

      <div class="user-information">

      </div>


      <div class="change-page clearfix">
         <div class="btn-prev pull-left" id="btn-prev">
            <img src="assets/images/img/btn-prev.png">
         </div>
         <div class="btn-next pull-right" id="btn-next">
            <img src="assets/images/img/btn-next.png">
         </div>
      </div>


   </div>

</div>



<!--遮罩层-->

<div class="page-voting-tan" style="display: none">

   <div class="voting-tan voting-confirm">
      <div class="info">
         <!--每一个微信号只能投票一次哦！-->
      </div>

      <div class="info-btn clearfix">
         <!--<img src="assets/images/img/info-tan.gif">-->
         <div class="button-img-part">
            <img src="assets/images/img/voting-info-button.gif">
            <div class="btn-sure pull-left"></div>
            <div class="btn-back pull-right" id="btn-back-detail" style=""></div>
         </div>


      </div>
   </div>
   <div class="voting-button-part"></div>

   <!-- <div class="voting-tan voting-success" style="display: none">
      <div class="info">
         <p>投票成功</p>
         <p>叫小伙伴一起来投票吧！</p>
      </div>

      <div class="info-btn">
         <div class="btn-close">关闭</div>
      </div>
   </div>

   <div class="voting-tan voting-fail" style="display: none">
      <div class="info">
         已经投过票了哦！
      </div>

      <div class="info-btn">
         <div class="btn-close">关闭</div>
      </div>
   </div> -->
</div>
<!--</div>-->



<!--</div>-->