<div class="wrapper">
    <div class="rotate-landscape"><div class="icon"></div></div>
    <div class="rotate-portrait"><div class="icon"></div></div>
  <!--  <div class="music">
        <img class="btn-music open" src="assets/images/img/music-open.png" alt="music">
        <img class="btn-music close" src="assets/images/img/music-close.png" style="display: none;" alt="music">
    </div>-->
</div>

<div class="loading">
    <div class="loading-box">
        <!--<img src="assets/images/loading.gif" alt="">-->
    </div>
</div>